@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic"><img src="/img/pngwing.com.png" />Welcome AutoShop</h1>
            <p class="lead my-3">If you want to buy a car or sell this can do here quickly and for free</p>
            <p class="lead mb-0">
                <a href="#" class="text-white fw-bold">
                    If you do not have an account then register for free
                </a>
            </p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
                You can buy and sell your car quickly and reliably  <span class="text-muted">
                    we guarantee your reliability
                </span>
            </h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/15_4843_oboi_bmw_6_v_portu_1440x900.jpg" width="500" height="700" />

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/17_4745_oboi_chjornyj_bmv_1920x1080.jpg" width="500" height="700" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/17_4827_oboi_bmw_7_1920x1080.jpg" width="500" height="700" />
        </div>
    </div>

    <hr class="featurette-divider">
</main>
